.bikes{
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.bikes h2 {
  margin-bottom: 2.5rem;
  
}

.bikes ul {
display: flex;
gap: 2.5rem;
padding: 0 1.25rem 1.25rem 1.25rem;
max-width: 87.5rem;
margin-left: auto;
margin-right: auto;
overflow-x: auto;
}

.bikes li{
  flex: 1;
  min-width: 280px;
}

.bikes a{
display: block;
}

.bikes img{
  margin-bottom: 1rem;
}

.bikes h3{
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
}

.bikes h3::before{
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background-color: var(--cor-p1);
  margin-right: .5rem;
  transition: width 0.2s;
}

.bikes a:hover h3::before{
  width: 1.5rem;
}

.bikes li span{
  margin-left: 20px;
}

@media (max-width: 50rem) {
  .bikes{
    gap: 1.25rem;
  }
}